// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #eceff4;
$bg-color: #2e3440;
$high-bg-color: #6e7275;
$sec-high-bg-color: #4c566a;
$urgent-bg-color: #eb6f92;
$bor-radius: 20px;

window.TopBar {
    font-family: "Hack Nerd Font";
    background: transparent;
    color: $fg-color;
    border: none;
    box-shadow: none;
    padding: 0px;
    font-size: 1.5em;

    .RiverTags {
      background: transparent;
      padding: 0px 0px;
      border-radius: 0px;

      label {
        padding: 0px;
        margin: 0px;
      }
      button {
        background: $bg-color; 
        border-radius: 0px;
        padding: 2px 8px;
        margin: 0px 0px;

        &:hover label {
          background: inherit;
          box-shadow: inset 0 -3px $fg-color;
          font-weight: bold;
        }
      }
      .start {
        border-bottom-left-radius: $bor-radius;
        border-top-left-radius: $bor-radius;
      }
      .end {
        border-bottom-right-radius: $bor-radius;
        border-top-right-radius: $bor-radius;
      }
      .occupied {
        background: $sec-high-bg-color;
      }
      .focused {
        background: $high-bg-color;
        font-weight: bold;
      }
      .urgent {
        background: $urgent-bg-color;
      }
    }

    .SysTray {
      background: $bg-color;
      border-radius: $bor-radius;
      padding: 2px 10px;
      button {
        font-weight: bold;
        background: transparent;
        border-radius: 0px;
        padding: 0px 5px;
        margin: 0px 0px;

        &:hover {
          background: inherit;
          box-shadow: inset 0 -3px $fg-color;
        }
      }
    }

    .Time {
      background: $bg-color;
      border-radius: $bor-radius;
      padding: 2px 20px;
      margin: 0px;
    }
    
    .Battery {
      background: $bg-color;
      border-radius: $bor-radius;
      padding: 2px 20px;
      margin: 0px 10px;

      .charging {
        color: #8fbcbb
      }
    }

    >centerbox {
        background: transparent;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 4px;
        margin-bottom: 4px;
        padding: 0px;
    }
}
